
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<div class="formStyle">
    <h1 mat-dialog-title class="paddigLeft0">Edit user</h1>
    <div class="inputFields">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input [disabled]="loading" matInput placeholder="First Name" [(ngModel)]="user.firstName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [disabled]="loading" matInput placeholder="Last Name" [(ngModel)]="user.lastName">
        </mat-form-field>
    </div>

        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>E-Mail</mat-label>
            <input [disabled]="loading" matInput placeholder="E-Mail" [(ngModel)]="user.email">
        </mat-form-field>    
        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>MM/DD/YYYY</mat-label>
            <input matInput [disabled]="loading" [matDatepicker]="picker1" [(ngModel)]="birthDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>     

    <mat-dialog-actions>
      <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
      <button [disabled]="loading" mat-button mat-dialog-close cdkFocusInitial (click)="saveEditUser()">Save</button>
    </mat-dialog-actions>
</div>